
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->

    <title>Intranet {% block title %} {% endblock title%}</title>
    <style>
      .red-color {
        color: red;
      }
      .grey-color {
        color: #ccc;
      }
    </style>
  </head>
  <body>
  	<div class='container'>
      {% include "navbar.html" %}
    	{% block content %}
    		
    	{% endblock content %}
	</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
      function getParameterByName(name, url) {
          if (!url) url = window.location.href;
          name = name.replace(/[\[\]]/g, "\\$&");
          var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
              results = regex.exec(url);
          if (!results) return null;
          if (!results[2]) return '';
          return decodeURIComponent(results[2].replace(/\+/g, " "));
      }
      function loadPostContainer(postContainerID){
        var query = getParameterByName('q')
        var postList = [];
        var nextPostUrl;
        
        var postContainer;
        if (postContainerID){
          postContainer = $('#' + postContainerID)
        } else {
          postContainer = $("#post-container");
        }
        var initialURL = postContainer.attr("data-url") || "/api/post/";

        $(document.body).on("click", ".post-like", function(e){
          e.preventDefault()
          var this_ = $(this)
          var postId = this_.attr("data-id")
          var likedUrl = '/api/post/' + postId + '/like/'
          //this_.text("Liked")

          $.ajax({
            method: "GET",
            url: likedUrl,
            success: function(data){
              if (data.liked){
                this_.text("Liked")
              } else {
                this_.text("unliked")
              }
            },
            error: function(data){
              console.log("error")
              console.log(data)
            }
          })
        })

        $(document.body).on("click", ".repostBtn", function(e){

          e.preventDefault()
          console.log("clicked")
          var url = "/api" + $(this).attr("href")

          $.ajax({
            method: "GET",
            url: url,
            success: function(data){
              console.log(data)
              // if username is in the API path ... lets ignore this
              if (initialURL == "/api/post/"){
                attachPost(data, true, true)
                updateHashLinks()              
              }


            },
            error: function(data){
              console.log("error")
              console.log(data)
            }
          })
        })

        function updateHashLinks(){
          $(".media-body").each(function(data){
            var hashTagRegex = /(^|\s)#([\w\d-]+)/g
            var usernameRegex = /(^|\s)@([\w\d-]+)/g
            var currentHtml = $(this).html()
            var newText;
            newText = currentHtml.replace(hashTagRegex, "$1<a href='/tags/$2/'>#$2</a>")
            newText = newText.replace(usernameRegex, "$1@<a href='/$2/'>$2</a>")
            $(this).html(newText)     
          })

        }

        function formatPost(postValue){
          var verb = "like"
          if (postValue.did_like){
            Verb = "unlike"
          }
          var preContent;
          var container;
          var postContent;
          if (postValue.parent){
            postValue = postValue.parent
            preContent = "<span class='grey-color'> Repost via " + postValue.user.username + " on " + postValue.date_display + "</span><br/>"
          }

          postContent = postValue.content + "<br/> via <a href='" + postValue.user.url+ "'>" + postValue.user.username + "</a> | " + postValue.date_display + " | " + "<a href='/post/" + postValue.id + "'>View</a> | " + "<a class='repostBtn' href='/post/" + postValue.id + "/repost/'>Repost</a>" + " | <a href='#' class='post-like' data-id="+ postValue.id +">" + verb + " (" + postValue.likes + ")</a>"

          if (preContent){
            container = "<div class=\"media\"> <div class=\"media-body\">" + preContent + postContent + "</div></div><hr/>"
          } else {
            container = "<div class=\"media\"> <div class=\"media-body\">" + postContent + "</div></div><hr/>"  
          }
          return container 

        }
        function attachPost(postValue, prepend, repost){
          postFormattedHtml = formatPost(postValue)
          if (prepend==true){
            postContainer.prepend(postFormattedHtml)
          } else {
            postContainer.append(postFormattedHtml)
          }
        }

        function parsePosts(){
          if (postList == 0){
            postContainer.text("No Posts currently found")
          } else {
          // Posts Exists, parse and display them
          $.each(postList, function(key, value){
            var postKey = key;
            if (value.parent){
              attachPost(value, false, true)
            } else {
              attachPost(value)
            }
            
          })
        }
      }
        function fetchPosts(url){
          var fetchUrl;
          if (!url){
            fetchUrl = initialURL
          } else {
            fetchUrl = url
          }
          $.ajax({
          url: fetchUrl,
          data: {
            "q": query
          },
          method: "GET",
          success: function(data){
            //console.log(data)
            postList = data.results
            if (data.next){
              nextPostUrl = data.next
            } else {
              $("#loadmore").css("display", "none")
            }
            
            parsePosts()
            updateHashLinks()

          },
          error: function(data){
            console.log('error')
            console.log(data)
          }
        })
        }

        fetchPosts()

        $("#loadmore").click(function(event){
          event.preventDefault()
          // Load More Items
          if (nextPostUrl){
            fetchPosts(nextPostUrl)
          }
        })

        var charsStart = 240;
        var charsCurrent = 0; 

        $("#post-form").append("<span id='postCharsLeft'>" + charsStart + "</span>")

        $("#post-form textarea").keyup(function(event){
          var postValue = $(this).val()
          charsCurrent = charsStart - postValue.length
          var spanChars = $("#postCharsLeft")
          spanChars.text(charsCurrent)

          $("#postCharsLeft").text(charsCurrent)

          if (charsCurrent > 0){
            // Remove classes
            spanChars.removeClass("grey-color ")
            spanChars.removeClass("red-color")  
          } else if (charsCurrent == 0){
            // add gray class
            spanChars.removeClass("red-color")  
            spanChars.addClass("grey-color")
          } else if (charsCurrent < 0){
            // add red class
            spanChars.removeClass("grey-color ")
            spanChars.addClass("red-color")
          }
        })


        $("#post-form").submit(function(event){
          event.preventDefault()
          var this_ = $(this)
          var formData = this_.serialize()
          if (charsCurrent >= 0){
            $.ajax({
              url: "/api/post/create/",
              data: formData,
              method: "POST",
              success: function(data){
                this_.find("input[type=text], textarea").val("")
                attachPost(data, true)
                updateHashLinks()
              },
              error: function(data){
                console.log('error')
                console.log(data.statusText)
                console.log(data.status)
              }
            })
          } else {
            console.log("Cannot Send, The Post is too long")
          }
        })  
      }      

    </script>

    {% block script %}{% endblock script %}
    
    <script>
      $(document).ready(function(){
        var typingTimer;
        var doneInterval = 600;
        var searchInput = $("#navbar-search-form input[type=text]");
        var searchQuery;

        searchInput.keyup(function(event){
          searchQuery = $(this).val()
          clearTimeout(typingTimer)
          typingTimer = setTimeout(doneSearchTyping, doneInterval)          
        })

        searchInput.keydown(function(event){
          // console.log(event.key);
          clearTimeout(typingTimer);

        })
        function doneSearchTyping(){
          if (searchQuery){
            // do search
            var url = '/post/search/?q=' + searchQuery;
            document.location.href = url;
          }
        }        

      });
    </script>
    <script src=" {% static 'js/bootstrap.min.js' %}"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
  </body>
</html>
