{% extends "base.html" %}
<style>

#post-container {
	background-color: red;
}
</style>

{% block script %}
<script>

function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

$(document).ready(function(){
	//console.log("Ajax is working");
	var query = getParameterByName('q')
	var postList = [];

	function attachPost(postValue, prepend){
		//var postKey = key;
		var dateDisplay = postValue.date_display;
		var postContent = postValue.content;
		var postUser = postValue.user;
		var postFormattedHtml = "<div class='media'><div class='media-body'>" + postContent + "<br/> via " + postUser.username + " | "+ dateDisplay + " | " + "<a href='#''>View</a>" + "</div></div><hr/>"
		if (prepend==true){
			$("#post-container").prepend(postFormattedHtml)
		} else {
			$("#post-container").append(postFormattedHtml)
		}
	}

	function parsePosts(){
		if (postList == 0){
			$("#post-container").text("No Posts currently found")
		} else {
		// Posts Exists, parse and display them
		$.each(postList, function(key, value){
			var postKey = key;
			attachPost(value)
			})
		}
	}
	function fetchPosts(){
		console.log("fetching ...")
		$.ajax({
		url: "/api/post/",
		data: {
			"q": query
		},
		method: "GET",
		success: function(data){
			//console.log(data)
			postList = data
			parsePosts()

		},
		error: function(data){
			console.log('error')
			console.log(data)
		}
	})
	}

	fetchPosts()

	var charsStart = 240;
	var charsCurrent = 0; 

	$("#post-form").append("<span id='postCharsLeft'>" + charsStart + "</span>")

	$("#post-form textarea").keyup(function(event){
		var postValue = $(this).val()
		charsCurrent = charsStart - postValue.length
		var spanChars = $("#postCharsLeft")
		spanChars.text(charsCurrent)

		$("#postCharsLeft").text(charsCurrent)

		if (charsCurrent > 0){
			// Remove classes
			spanChars.removeClass("grey-color ")
			spanChars.removeClass("red-color")	
		} else if (charsCurrent == 0){
			// add gray class
			spanChars.removeClass("red-color")	
			spanChars.addClass("grey-color")
		} else if (charsCurrent < 0){
			// add red class
			spanChars.removeClass("grey-color ")
			spanChars.addClass("red-color")
		}
	})


	$("#post-form").submit(function(event){
		event.preventDefault()
		var this_ = $(this)
		var formData = this_.serialize()
		if (charsCurrent >= 0){
			$.ajax({
				url: "/api/post/create/",
				data: formData,
				method: "POST",
				success: function(data){
					this_.find("input[type=text], textarea").val("")
					attachPost(value, true)
				},
				error: function(data){
					console.log('error')
					console.log(data.statusText)
					console.log(data.status)
				}
			})
		} else {
			console.log("Cannot Send, The Post is too long")
		}
	})

});	

</script>
{% endblock script %}

{% block content %}

	<div class="row">
		<div class="col-sm-3 col-xs-12" style='background-color:white;'>
			<h1>{{ request.user }}</h1> 
		</div>
		<div class='col-sm-9'>
			{% if not request.GET.q %}
			<div class="">
				{% include 'posts/form.html' with form=create_form action_url=create_url btn_title='Post' form_id='post-form' %}
			</div>
			<hr/>
			{% endif %}
			<div id='post-container'>

			</div>
		</div>
	</div>
{% endblock content %}

