{% extends "base.html" %}
{% load recommended %}
<style>

#post-container {
	background-color: red;
}
</style>

{% block script %}
<script>

$(document).ready(function(){
	loadPostContainer('post-container')
});	

</script>
{% endblock script %}

{% block content %}

	<div class="row">
		<div class="col-sm-3 col-xs-12" style='background-color:white;'>
			<h1>{{ request.user }}</h1> 
			<br/>
			<p class='lead'> Recommended Users </p>
			{% recommended request.user %}
		</div>
		<div class='col-sm-9'>
			{% if not request.GET.q %}
			<div class="">
				{% include 'posts/form.html' with form=create_form action_url=create_url btn_title='Post' form_class='post-form' %}
			</div>
			<hr/>
			{% endif %}
			<div id='post-container' data-url='/api/post/'>

			</div>
			<a href="#" id="loadmore">Load More Posts</a>
		</div>
		
	</div>
{% endblock content %}

